*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 420px) {
    marquee{
        color: red;
        padding: 5px 0;
        font-weight: semi-bold;
        font-size: 18px;
        /* text-shadow: 0px 0px 3px #3a3838; */
    }
    #hero{
        background: red;
        margin: 0 auto;
        display: flex;
        padding: 10px;
        align-items: center;
    }
    #hero .logo{
        height: 60px;
        width: 60px;
    }

    #hero .logo img{
        width: 100%;
        border-radius: 50%;
        box-shadow: 0px 0px 3px #000;
    }
    #hero .title h1{
        color: #fff;
        font-family: tahoma;
        margin-left: 10px;
        font-size: 30px;
        text-shadow: 0px 0px 3px #000;
    }
    #group p{
        margin-top: 10px;
        padding: 10px;
        text-align: center;
        color: #fff;
        text-decoration: underline;
        background: red;
    }
}


