*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 420px) {
    #hero{
        background: red;
        margin: 0 auto;
        display: flex;
        padding: 10px;
        align-items: center;
    }
}

#hero .logo{
    height: 60px;
    width: 60px;
}

#hero .logo img{
    width: 100%;
    border-radius: 50%;
}
#hero .title h1{
    color: #fff;
    font-family: tahoma;
    margin-left: 10px;
    font-size: 30px;
}
